@import './base.css';

#app {
  max-width: 100%; 
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #1ea1e8;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline #037fc1;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .v-layout {
    display: block !important;
  }
} */
